<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.UserMapper">
    <select id="verifyNotSafe" parameterType="map" resultType="integer">
        select id from user where username = '${username}' and password = '${password}';
    </select>

    <select id="verifySafe" parameterType="map" resultType="integer">
        select id from user where username = #{username} and password = #{password};
    </select>

    <select id="selectUserNotSafe" resultType="org.example.User" parameterType="string">
        select * from user where username like '%${username}%'
    </select>

    <select id="selectUserSafe" resultType="org.example.User" parameterType="string">
        select * from user where username like concat('%', #{username}, '%')
    </select>

</mapper>